<!DOCTYPE html>
<html>
    <head>
        <title>Webpage Design</title>
        
        </head>
        <body>
            <form action="action_page.php" method="post">
                <div class="imgcontainer">
                  <img  src="assets\images\5087579.png" alt="Avatar" class="avatar" >
                </div>
            
                <div class="container" >
                  <label for="uname" class="col"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname"  required>
              
                  <label for="psw" class="col"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
              
                  <button type="submit" class="btn btn-outline-danger  ">Login</button>
                  <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label>
                  <div  class="icon"  text-align= "center">  
                    <a href="https://www.facebook.com/" title="facebook" ><i class="bi bi-facebook "></i></a>
                    <a href="#" title="instagram" title="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://fr.linkedin.com/" title="linkedin"><i class="bi bi-linkedin"></i></a>
                    <a href="https://twitter.com/?lang=fr" title="twitter"><i class="bi bi-twitter"></i></a>
                   </div>
                </div>
              
                <div class="container" >
                  <button type="button" class="cancelbtn ">Cancel</button>
                  <span class="psw">Forgot <a href="#">password?</a></span>
                </div>

                

              </form>

            </body>
    
</html>                             

